* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}


.hero {
  display: flex;
  width: 100%;
  height: 100vh;
}

// ------ Right Column -------

.left-col {
  flex-basis: 30%; //This defines the default size of an element before the remaining space is distributed
  height: 100%;
  background: #e80707;
  padding-top: 50px;
  padding-left: 50px;
  position: relative;

  .menu-icon {
    width: 40px;
    height: 30px;
  }
  .logo img {
    width: 100px;
    margin-left: 50px;
    margin-top: -15px;
  }
  .line-shape {
    right: 0;
    background-color: #fff;
  }

  .quotation {
    position: absolute;
    color: #ececec;
    top: 200px;
    right: 20px;
    width: 400px;

    p {
      margin-top: 10px;
    }
    .right-quote {
      position: absolute;
      right: 20px;
    }
  }

  .small-fashion-image {
    position: absolute;
    bottom: 145px;
    right: -45px;
    .line-shape {
      background-color: #e80707;
      height: 80px;
      width: 2px;
      right: -50px;
      top: auto;
      bottom: 20px;
    }
    .pagination-pointer {
      position: absolute;
      color: #ffa8a8;
      right: -69px;
      bottom: 120px;
      transform: rotate(-90deg);
    }
  }

  // arrow navigation top
  .small-fashion-image::before {
    content: "\276f";
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 120px;
    font-size: 28px;
    right: 350px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    transform: rotate(-90deg);
  }

  // arrow navigation bottom
  .small-fashion-image::after {
    content: "\276f";
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 50px;
    font-size: 28px;
    right: 350px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    transform: rotate(90deg);
  }


  .vertical-menu{
    position: absolute;
    bottom: 300px;
    left: -165px;
    transform: rotate(-90deg);
    display: inline-block;
    top: auto;
    right: auto;
    li {
      display: inline-block;
      margin-right: 50px;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
    }
  }


}

.line-shape {
  position: absolute;
  top: 180px;
  height: 20px;
  width: 280px;
}









// ------ Right Column -------

.right-col {
  flex-basis: 70%;
  height: 100%;
  position: relative;
  .navbar {
    position: absolute;
    top: 85px;
    right: 45px;
    display: flex;
    .search {
      margin-right: 25px;
    }
    img {
      width: 20px;
    }
    ul {
      list-style: none;
    }
    li {
      display: inline-block;
      margin-right: 40px;

      a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 900;
      }
    }
  }

  .line-shape {
    left: 0;
    background-color: #e80707;

    span {
      position: absolute;
      height: 100%;
      width: 6px;
      left: calc(100% + 7px);
      background-color: inherit;
    }
  }

  .feature-image {
    width: 330px;
    position: absolute;
    top: 160px;
    right: 100px;

    img {
      width: 100%;
    }

    .line-shape {
      bottom: -50px;
      top: auto;
      right: 0;
      left: auto;
      height: 6px;
      span {
        left: auto;
        right: calc(100% + 7px);
      }
    }

    .trending {
      position: absolute;
      transform: rotate(-90deg);
      top: 36%;
      right: 58%;
      font-size: 70px;
      text-transform: uppercase;
      color: #e2e2e278;
    }
  }

  .text-block{
    position: absolute;
    top: 30%;
    left: 4%;
    width: calc(100% - 500px);
    max-width: 700px;

    h2 {
      font-size: 3rem;
      line-height: 4rem;
      font-weight: 300;
    }

    p {
      font-size: 1rem;
      margin-top: 30px;
      padding-right: 20px;
      color: #555;
    }

  }


  .social-icons{
    position: absolute;
    right: 50px;
    bottom: 100px;

    li {
      display: inline-block;
      margin-right: 50px;
    }
    .connect{
      font-size: 2rem;
      position: absolute;
      top: 0;
      left: -200px;
      text-transform: uppercase;

      &:before{
        content: '';
        display: block;
        height: 6px;
        width: 100%;
        background-color: #e80707;
      }
      &:after{
        content: '';
        display: block;
        height: 6px;
        width: 100%;
        background-color: #e80707;
      }
    }
    img{
      width: 50px;
    }
  }
}
